<!-- src/app/home/home.page.html -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <h1>Géneros Musicales</h1>
    
    <!-- Botones de control -->
    <div class="controls">
      <ion-button (click)="cambiarColor()" expand="block">
        Cambiar Tema
      </ion-button>
      <ion-button (click)="irAIntro()" expand="block" color="secondary">
        Ver Intro
      </ion-button>
    </div>

    <!-- Swiper Slides -->
    <swiper-container
      [style.--swiper-theme-color]="colorActual"
      class="mySwiper"
      pagination="true"
      pagination-clickable="true"
      space-between="30"
      centered-slides="true">
      
      <swiper-slide *ngFor="let genre of genres">
        <div class="slide-content" [style.background]="colorActual">
          <img [src]="genre.image" [alt]="genre.title" />
          <h2>{{ genre.title }}</h2>
          <p>{{ genre.description }}</p>
        </div>
      </swiper-slide>
      
    </swiper-container>
  </div>
</ion-content>
